* {
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  cursor: pointer;
  border-radius: 20px;
  outline: none;
  transition: ease 0.3ms;
}

button:hover {
  background-color: black;
  color: white;
  transition-delay: 1ms;
}
