* {
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input {
  outline: none;
  margin: 20px;
  padding: 12px;
}

button {
  margin: 12px;
  padding: 16px;
  height: 10px;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: black;
  transition: 2ms ease-in;
  color: white;
}